.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
	background-image: url("../images/vintage-concrete.png");
	margin-bottom: 100px;
	clear: both;
}

form {
	height: auto;
}

img {
	height: 150px;
	margin: 5% 0;
}

.navbar-default {
	width: 100%;
}

.navbar-brand {
	background: #4aaaa5;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
}

h1, .social{
	color: #4aaaa5;
	border-bottom: thin solid grey;
	border-width: 1px;
	padding-bottom: 5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.social {
	font-size: 24px;
	text-align: center;
}

.icons {
	max-height: 75px;
	max-width: 75px;
	vertical-align: center;
}

.col-md-8, .connect{
	border: solid #dddddd;
	background: #ffffff;
	padding: 2% 5% 5% 5%;
}

.col-sm-12, .col-xs-12 {
	float: left;
}

#summary {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 16px;
}

.icon-overview {
	margin-right: 10%;
}

.footer {
	bottom: 0;
	width: 100%;
	background-color: #666666;
	text-align: center;
	padding: 15px 0;
    border-top: 5px solid #4aaaa5;
	color: #777777;
	position: fixed;
	margin: 10% 10% 0 0;
}

.banner {
	background: teal;
	color: white;
	font-size: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	max-width: 100%;
}

